@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Nunito Sans', system-ui, sans-serif;
		font-size:1rem;
	}

	body {
		color: #131516;
		
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Inter', sans-serif;
		font-weight: bold;
	}

	h1 {
		/*font-size: 2.986rem;*/
		@apply text-4xl md:text-5xl lg:text-6xl
	}
	h2 {
		/*font-size: 2.488rem;*/
		@apply text-3xl md:text-4xl lg:text-5xl
	}
	h3 {
		/*font-size: 2.074rem;*/
		@apply text-2xl md:text-3xl lg:text-4xl

	}
	h4 {
		/*font-size: 1.728rem;*/
		@apply text-xl md:text-2xl lg:text-3xl		
	}
	h5 {
		/*font-size: 1.44rem;*/
		@apply text-lg md:text-xl lg:text-2xl		

	}
	h6 {
		/*font-size: 1.2rem;*/
		@apply text-base md:text-lg lg:text-xl		

	}
}

@screen md {

	html {
		font-size:1.125rem;
	}
}

@screen xl {

	html {
		font-size:1.25rem;
	}
}