/* Just some basic styling so the poc looks a bit ok :-). */
:root {
	--eui-white: #ffffff;
	--eui-primary: #0e4876;
	--eui-light-blue: #eef3f9;
}

* {
	box-sizing: border-box;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h2 {
	margin-top: 0;
}

p {
	margin: 0;
}

.btn {
	background-color: var(--eui-primary);
	color: var(--eui-white);
	text-decoration: none;
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
	border: none;
	cursor: pointer;
}

input,
textarea {
	padding: 0.75rem 0.85rem;
	font-size: 16px;
	width: 100%;
	border: 1px solid #d2d2d2;
	border-radius: 0.25rem;
}

textarea {
	resize: vertical;
	min-height: 100px;
	max-height: 300px;
}

.form-control label {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5rem;
}

.form-control + .form-control {
	margin-top: 1rem;
}
