@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	.font-text {
		font-family: 'Nunito Sans', system-ui, sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.font-title {
		font-family: 'Inter', sans-serif;
		@apply leading-tight;
	}

	/* Typography scale: 1.200 - Minor third */

	h1 {
		@apply mb-4 text-4xl font-bold;
	}
	h2 {
		@apply mb-4 text-3xl font-bold;
	}
	h3 {
		@apply mb-4 text-2xl font-bold;
	}
	h4 {
		@apply mb-4 text-xl font-bold;
	}
	h5 {
		@apply mb-4 text-lg font-bold;
	}
	h6 {
		@apply mb-4 text-base font-bold;
	}

	.markdown ul,
	.markdown ol {
		margin: 1rem 0;
	}

	.markdown li,
	.markdown p + p {
		margin-bottom: 1rem;
	}

	#chat a {
		color: #0369a1;
		text-decoration: underline;
	}

	.swiper-wrapper {
		width: 100%;
		height: max-content !important;
		padding-bottom: 64px !important;
		-webkit-transition-timing-function: linear !important;
		transition-timing-function: linear !important;
		position: relative;
	}

	.swiper-pagination-bullet {
		background: #4f46e5;
	}

	.canvas-content p {
		@apply mb-4;
	}

	.canvas-content a {
		@apply break-words font-medium text-eui-light-blue-600/85 underline;
	}
}

@screen md {
	html {
		font-size: 1.125rem;
	}
}

@screen lg {
	html {
		font-size: 1.25rem;
	}
}

@screen xl {
}

@screen 2xl {
}

@layer utilities {
	.animation-delay-2000 {
		animation-delay: 2s;
	}
	.animation-delay-3000 {
		animation-delay: 3s;
	}
	.animation-delay-4000 {
		animation-delay: 4s;
	}
}
